.Main {
    justify-content: center;
    margin-top: 30vh;
    text-align: center;
}

h1 {
    font-size: 4vh;
    font-family: "Avenir Next LT W01 Bold",sans-serif;
    font-weight: 700;
}

.Choice-box {
    width: 25vh;
    height: 25vh;
    line-height: 25vh;
    margin: 1%;
    padding-left: 1%;
    padding-right: 1%;
    background-color: #e4c4f6;
    display: inline-block; 
    font-family: "Avenir Next LT W01 Bold",sans-serif;
    font-size: 3vh;
    text-align: center;
    border-radius: 4vh;
    font-weight: 700;
    color: #00132C;
}

.Choice-box:hover{
    color: #FFFFFF;
    background-color: rgb(177, 135, 231);
    animation-name: rotato;
    animation-duration: 2s;
}

@keyframes rotato{
   5% { transform: rotate(10deg)}
   10% { transform: rotate(0deg)}
   15% { transform: rotate(10deg);}
}